
#home-g {
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 50vw;
	top: 91vh;
	overflow: visible;
}
#record_g {
	position: absolute;
	width: 13.5vw;
	height:13.5vw;
	left: 4vw;
	top: 2vw;	
}
#record_i{
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 76vw;
	top: 91vh;
	overflow: visible;
}
#blank1{
	position: fixed;
	width: 980vw;
	height: 100vh;
	left: 1vw;
	top: 91vh;
	overflow: visible;
}
#rank1{
	left: 15vw;
	top: 15vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 33px;
	color: rgb(243, 236, 217);
}
#rank2{
	left: 17vw;
	top: 27vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 33px;
	color: rgb(243, 236, 217);
}
#rank3{
	left: 18vw;
	top: 36.5vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 30px;
	color: rgb(243, 236, 217);
}
#rank4{
	left: 18vw;
	top: 47vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank5{
	left: 18vw;
	top: 57vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank6{
	left: 18vw;
	top: 67vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank7{
	left: 18vw;
	top: 77vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank8{
	left: 18vw;
	top: 87vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank9{
	left: 18vw;
	top: 97vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank10{
	left: 17vw;
	top: 107vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank11{
	left: 17vw;
	top: 117vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank12{
	left: 17vw;
	top: 127vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank13{
	left: 17vw;
	top: 137vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank14{
	left: 17vw;
	top: 147vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank15{
	left: 17vw;
	top: 157vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank16{
	left: 17vw;
	top: 167vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
#rank17{
	left: 17vw;
	top: 177vh;
	position: absolute;
	overflow: visible;
	width: 85vw;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgb(243, 236, 217);
}
