#home-g {
	position: absolute;
	width: 12vw;
	height: 12vw;
	left: 50vw;
	top: 91vh;
	overflow: visible;
}
#record_g {
	position: absolute;
	width: 13.5vw;
	height:13.5vw;
	left: 4vw;
	top: 2vw;	
}
#well{
	left: 7vw;
	top: 13vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 25px;
	color: rgba(100,99,98,1);	
}
#name{
	left: 50vw;
    top: 13vh;
    position: absolute;
    overflow: visible;
    width: 257px;
    white-space: nowrap;
    text-align: left;
    font-family: Hiragino Kaku Gothic ProN;
    font-size: 25px;
    color: rgba(100,99,98,1); 
}
#user-stamp {
	left: 34vw;
	top: 27vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 8.5vw;
	color: rgba(100,99,98,1);
}
#message2{
	left: 20vw;
	top: 27vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 8.5vw;
	color: rgba(100,99,98,1);
}
#stamp {
	left: 20vw;
	top: 37vh;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 4vw;
	color: rgba(100,99,98,1);
}
#message3{
	left: 60vw;
	top: 37vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 4vw;
	color: rgba(100,99,98,1);
}
#message4{
	left: 60vw;
	top: 40vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 4vw;
	color: rgba(100,99,98,1);
}
#user-rank{
	left: 18vw;
	top: 61vh;
	position: absolute;
	overflow: visible;
	width: 255px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 8.5vw;
	color: rgba(100,99,98,1);
}
#rank {
	left: 23vw;
	top: 70vh;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 4vw;
	color: rgba(100,99,98,1);
}
#message5{
	left: 66vw;
	top: 61vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 8.5vw;
	color: rgba(100,99,98,1);
}
#idDisplay{
	left: 80vw;
	top: 98vh;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Hiragino Kaku Gothic ProN;
	font-size: 1px;
	color: rgb(231, 231, 231);	
}
