#home-g {
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 50vw;
	top: 91vh;
	overflow: visible;
}
#record_g {
	position: fixed;
	width: 13.5vw;
	height:13.5vw;
	left: 4vw;
	top: 2vw;	
}
#record_t{
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 76vw;
	top: 91vh;
	overflow: visible;
}
#line{
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 2vw;
	top: 5vh;
	overflow: visible;
}
#blank{
	position: fixed;
	width: 980vw;
	height: 100vh;
	left: 1vw;
	top: 91vh;
	overflow: visible;
}