#car-g {
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 12vw;
	top: 91vh;	
}
#train-g {
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 28vw;
	top: 91vh;
}
#home-g {
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 44vw;
	top: 91vh;
}
#bike-g {
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 60vw;
	top: 91vh;
}
#walk-g{
	position: fixed;
	width: 12vw;
	height: 12vw;
	left: 76vw;
	top: 91vh;
	overflow: visible;
}
#train-home{
	position: absolute;
	width: 33vw;
	height: 33vw;
	left:13vw;
	top: 16vw;
	overflow: visible;
}
#record-gry {
	position: absolute;
	width: 13.5vw;
	height:13.5vw;
	left: 4vw;
	top: 2vw;	
}
#decision-bottom {
	background-color:rgba(0,129,69,1);
	border:1px solid rgb(255,255,255);
	position: absolute;
	font-size: 35px;
	color:rgb(255,255,255);
	width: 30vw;
	height:14vw;
	left: 58vw;
	top: 35vw;
	overflow: visible;
	border-radius: 20px;
}
#total{
	background-color:rgba(0,253,184,1);
	border:1px solid rgb(255,255,255);
	border-radius: 26px;
	text-align: center;
	position:absolute;
	font-size: 30px;
	width: 36vw;
	height:18vw;
	left: 55vw;
	top: 15vw;	
}
#time1{
	outline-color:rgba(0,253,184,1);
	border:1px solid rgb(182, 180, 180);
	border-radius: 10px;
	position:absolute;
	width: 40px;
	height:40px;
	left: 73vw;
	top: 45vh;
}
#time2 {
	outline-color:rgba(0,253,184,1);
	border:1px solid rgb(182, 180, 180);
	border-radius: 10px;
	position:absolute;
	width: 40px;
	height:40px;
	left: 73vw;
	top: 90vh;
}
#time3 {
	outline-color:rgba(0,253,184,1);
	border:1px solid rgb(182, 180, 180);
	border-radius: 10px;
	position:absolute;
	width: 40px;
	height:40px;
	left: 73vw;
	top: 135vh;
}
#time4 {
	outline-color:rgba(0,253,184,1);
	border:1px solid rgb(182, 180, 180);
	border-radius: 10px;
	position:absolute;
	width: 40px;
	height:40px;
	left: 73vw;
	top: 180vh;
}
#time5 {
	outline-color:rgba(0,253,184,1);
	border:1px solid rgb(182, 180, 180);
	border-radius: 10px;
	position:absolute;
	width: 40px;
	height:40px;
	left: 73vw;
	top: 235vh;
}